.pageSection{
  display: grid;
  grid-template-columns: repeat(4,300px);
  gap: 10px;
}

.pageImg{
    width: 250px;
    height: 250px;
   
}

.pageImg img{
    width: 100%;
}
.full-page{
    display: flex;

}

.pro-selected{
    width: 30%;
    border: 1px solid black;
}
.pro-input input{

    margin: 5px;
}